<a href="https://colab.research.google.com/github/Decastan/Bootcamp-Analytics-2025/blob/main/Clase1python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mi primer notebook de python

In [ ]:
print("Bienvenidos al curso de python para analisis de datos")

Bienvenidos al curso de python para analisis de datos

In [ ]:
## Declaracion de variables

nombre = "Daniel"
edad = 27
altura = 1.80

In [ ]:
print(nombre)

Daniel

In [ ]:
print(edad)

27

In [ ]:
# Mostrar variables
print(f"Nombre: {nombre}, Edad: {edad}, Altura: {altura}")

Nombre: Daniel, Edad: 27, Altura: 1.8

In [ ]:
nombre

'Daniel'

In [ ]:
nombre = "David"

In [ ]:
nombre

'David'

In [ ]:
# Tipos de datos básicos
entero = 1000 #int
flotante = 10.5 #float
texto = "Hola Mundo" #str
booleano = False #bool

In [ ]:
# Operaciones básicas
suma = 20 + 10

In [ ]:
print(suma)

30

In [ ]:
# Sumatoria
a = 20
b = 10
c = a + b

In [ ]:
print(c)

30

In [ ]:
# Resta
x = 5
y = 4

k = x -y
print(k)

1

In [ ]:
# Multiplicacion
a = 3*4
print(a)

12

In [ ]:
# Division
b = 10/2
print(f"la divisón es igual a: {b}")

la divisón es igual a: 5.0

In [ ]:
## Condiciones

num = 4

In [ ]:
if num >5:
    print("El número es mayor a 5")
else:
    print("El número es menor o igual a 5")

El número es menor o igual a 5

In [ ]:
## Bucles (for y while)

print("Ejemplo de for:")
for i in range(10):
  print("Consetivo", i)

Ejemplo de for:
Consetivo 0
Consetivo 1
Consetivo 2
Consetivo 3
Consetivo 4
Consetivo 5
Consetivo 6
Consetivo 7
Consetivo 8
Consetivo 9

In [ ]:
print("Ejemplo de while:")
x = 10
while x <= 50:
  print("Valor de x:", x)
  x += 1

Ejemplo de while:
Valor de x: 10
Valor de x: 11
Valor de x: 12
Valor de x: 13
Valor de x: 14
Valor de x: 15
Valor de x: 16
Valor de x: 17
Valor de x: 18
Valor de x: 19
Valor de x: 20
Valor de x: 21
Valor de x: 22
Valor de x: 23
Valor de x: 24
Valor de x: 25
Valor de x: 26
Valor de x: 27
Valor de x: 28
Valor de x: 29
Valor de x: 30
Valor de x: 31
Valor de x: 32
Valor de x: 33
Valor de x: 34
Valor de x: 35
Valor de x: 36
Valor de x: 37
Valor de x: 38
Valor de x: 39
Valor de x: 40
Valor de x: 41
Valor de x: 42
Valor de x: 43
Valor de x: 44
Valor de x: 45
Valor de x: 46
Valor de x: 47
Valor de x: 48
Valor de x: 49
Valor de x: 50

In [ ]:
# listas y Diccionarios

lista = [1,3,5,7,9]

In [ ]:
print(lista)

[1, 3, 5, 7, 9]

In [ ]:
lista

[1, 3, 5, 7, 9]

In [ ]:
diccionario = {"nombre": "Daniel", "edad": 27, "ciudad": "Cali"}
print(diccionario)

{'nombre': 'Daniel', 'edad': 27, 'ciudad': 'Cali'}

In [ ]:
diccionario

{'nombre': 'Daniel', 'edad': 27, 'ciudad': 'Cali'}

In [ ]:
## Acceder a elemenos
print("Primer elemento de la lista:", lista[2])

Primer elemento de la lista: 5

In [ ]:
print("ciudad desde diccionario:", diccionario["ciudad"])

ciudad desde diccionario: Cali

### Importando mis primeras librerias

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Crear nuestro primer array
array = np.array([1,2,3,4,5])
print("Array de numpy:", array)

Array de numpy: [1 2 3 4 5]

In [ ]:
array2 = np.array([10,10,10,10,10])

In [ ]:
multiplacion = array*array2

In [ ]:
print(multiplacion)

[10 20 30 40 50]

In [ ]:
##Crear un Dataframe con pandas

datos = {"Nombre": ["Ana", "Juan", "Luis","Alejandro","Erika", "Daniel"], "Edad": [23, 34, 29,35,20,27]}
df = pd.DataFrame(datos)

In [ ]:
print(df)

      Nombre  Edad
0        Ana    23
1       Juan    34
2       Luis    29
3  Alejandro    35
4      Erika    20
5     Daniel    27

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  5 non-null      object
 1   Edad    5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [ ]:
df.head(10)

      Nombre  Edad
0        Ana    23
1       Juan    34
2       Luis    29
3  Alejandro    35
4      Erika    20
5     Daniel    27

# Importar mi primer dataset

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000